body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #084f82;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 49px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

main {
    padding: 20px;

}

#about {
    text-align: center;
}

#about p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #030405;
    font-size: larger;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #255cca;
}

p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #040608;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #00a890;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #020408;
}

p {
    margin-bottom: 10px;
    line-height: 1.6;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 10px;
    line-height: 1.6;
}

footer {
    background-color: #084f82;
    color: #fff;
    padding: 20px;
    text-align: center;
}